<div class="header-container">
  <h1 class="title"><a href="/">Book Directory Program</a></h1>

  <div class="header-container">
    <ul class="page-links-container">
      <li class="author">
        <a href="/author">Author</a>
      </li>
      <li class="author-new">
        <a href="/author/new">New Author</a>
      </li>
    </ul>
    <ul class="page-links-container">
      <li class="book">
        <a href="/book">Book</a>
      </li>
      <li class="book-new">
        <a href="/book/new">New Book</a>
      </li>
    </ul>
  </div>
</div>