<div class="header-container">
  <h1 class="title"><a href="/">Book Directory Program</a></h1>

  <ul class="page-links-container">
    <li class="author">
      <a href="/author">Author</a>
    </li>
    <li class="author-new">
      <a href="/author/new">New Author</a>
    </li>
  </ul>
</div>