<div class="author-input-container">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" value="<%= author.name %>">
  <br>
  <label for="description">Description</label>
  <textarea type="text" id="description" name="description"></textarea>
</div>

<!-- name attribute is for calling it in the server e.g. body.name -->
<!-- the value attribute is for the edit page as the author'd already have a name -->