<h2>Search Authors</h2>

<div class="search-specific-author">
  <form action="/author" id="author-search-form">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="<%= searchOptions.name %>">

    <script>
      //Code to have it search after each key press
      const authorNameInput = document.querySelector('#name')

      authorNameInput.addEventListener('input', (e) => {
        e.preventDefault()
        e.target.closest('#author-search-form').submit()
      })

      authorNameInput.focus()
      let value = authorNameInput.value
      authorNameInput.value = ""
      authorNameInput.value = value
    </script>
  </form>
</div>

<div class="authors-list-container">
  <ul class="authors-list">
    <% authors.forEach(author => { %>
      <li class="author-name" ><%= author.name %></li>
    <% }) %>
  </ul>
</div>