<h2>New Book</h2>

<%- include("../partials/errorMessage") %>

<!-- enctype="multipart/form-data" says it can include a file type -->
<form action="/book" method="POST" enctype="multipart/form-data">
  <div class="form-submission-container">
    <%- include('./_form_fields') %> 

    <div class="input-buttons">
      <a href="/book">Cancel</a>
      <button type='submit'>Add</button>
    </div>
  </div>
</form>